<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <!-- 言語変更ボタンの表示有無(true or false) -->
      <add key="can_change_language" value="true" />
      <!-- 日本語UI(改行は&#13;&#10;) -->
      <add key="title_ja" value="利用規約" />
      <add key="notes_ja" value="本文" />
      <add key="confirmMessage_ja" value="上記の内容に同意します" />
      <!-- 英語UI(改行は&#13;&#10;) -->
      <add key="title_en" value="Terms of Use" />
      <add key="notes_en" value="Descriptions" />
      <add key="confirmMessage_en" value="I accept" />
    </appSettings>
</configuration>